body{
    font-family: "Gabarito", sans-serif;
    background-color: #B027BD;
    font-size: 18px;
    line-height: 1.3;
    background-image: linear-gradient(180deg, rgba(188, 63, 200, 0) 0%, rgba(92, 31, 98, 1) 100% ), url(../assets/Background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

.avatar img{
    width: 100px;
    border-radius: 100%;
}

.container{
    width: 334px;
    margin: 0 auto;
}

header{
    padding: 40px 0;
}

header h1{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

header p{
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

header .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links a{
    font-weight: 600;
    text-decoration: none;
    color: #000;
    text-align: center;
    border: 2px solid #000;
    border-radius: 40px;
    padding: 10px;
    background-color: #B027BD;
    -webkit-box-shadow: 6px 6px 0px 0px #000000; 
    box-shadow: 6px 6px 0px 0px #000000;
    background-repeat: no-repeat;
    background-position: center left 15px;
    transition: transform .15s ease, box-shadow .15s ease;
}

.links a:hover{
    transform: translate(-2px, -2px);
    box-shadow: 10px 10px 0 0 #000;
}

.links a.whatsapp{
    background-image: url(../assets/whatsapp.svg);
    background-size: 25px;
    
}

.links a.github{
    background-image: url(../assets/code.svg);
    background-size: 25px;
    
}

.links a.linkedin{
    background-image: url(../assets/linkedin.svg);
    background-size: 25px;
    
}

footer{
    text-align: center;
    padding: 80px 0;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}